.article-container {
    height: 100%;
    padding: 25px;
    color: #7EFFF5;
}
.article-titre {
    height: 13%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.article-contenu {
    height: 70%;
    text-align: start;
    font-size: 16px;
}

.article-footer {
    height: 13%;
    display: flex;
    align-items: flex-end;
}


.article-date {
    width: 50%;
    font-weight: bold;
}

.article-source {
    text-align: end;
    width: 50%;
    font-style: italic;
}